* {
    list-style:none ; text-align: justify
}

.divClass  {
    margin: 50px; 
}

img {
    width: 450px; margin: 50px auto; display: block; border:2px solid black
}

#thirdDiv {
     height: 600px; width: auto; background: slategray; padding: 10px; border: 2px solid black; margin: 50px;
}

#spanId {
     margin: 10px ; padding: 5px ; color:rgb(1, 12, 12); font-size:  18px; border: 2px solid black; display: block
}
h1 {
     border-bottom: 2px solid black; color:rgb(0, 0, 0); text-align:center; background-color: slategray; margin-bottom: 0px 
}
h4 {
    margin: 0px ;color:rgb(0, 0, 0); background-color: slategray;
}

h3 {
    margin: 0px;
}

a {
    margin: 10px;font-size:  20px;
}
